view {
	box-sizing: border-box;
}
swiper-item {
	box-sizing: border-box;
}
.pagebag {
	background: linear-gradient(to bottom, transparent, #fff 400rpx), linear-gradient(to right, #beecd8 20%, #f4e2d8);
	min-height: 80vh;
}
